<footer>
  <small>
    {# This project is maintained by <a href="https://www.danurbanowicz.com">Dan Urbanowicz</a>.
    Check out the <a href="{{ pkg.repository.url }}">GitHub repo!</a>. #}
    This is the blog for the  <a href="https://left.guide">Left Guide project.</a>
  </small>
</footer>
